<p>navbar works!</p>
<header class="relative justify-center items-center gap-5 pt-20 bg-gray-100">
  <button class="relative flex justify center items-center bg-slate-500 focus:outline-none shadow
   text-gray-100 rounded focus:ring ring-gray-600 group-"> 
    <p class="px-4">
      dropdown
    </p>
    <span class="border-l p-2 hover:bg-gray-300">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
    </svg>
    </span>
    <div class="absolute hidden group-focus:block top-full min-w-full w.max bg-slate-400 shadow-md mt-1 rounded transition">
      <ul class="text-left border rounded">
        <li class="px-4 py-1 hover:bg-gray-100 border-b">menu list 1</li>
        <li class="px-4 py-1 hover:bg-gray-100 border-b">menu list 2</li>
        <li class="px-4 py-1 hover:bg-gray-100 border-b">menu list 3</li>
        <li class="px-4 py-1 hover:bg-gray-100 border-b">menu list 4</li>
        <li class="px-4 py-1 hover:bg-gray-100 border-b">menu list 5</li>
      </ul>
    </div>
  </button>
</header> 